aws-requests-auth==0.4.3
blinker==1.8.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
confluent-kafka==2.4.0
dnspython==2.6.1
elastic-transport==8.13.1
elasticsearch==8.14.0
Events==0.5
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Opensearch==1.0.2
Flask-PyMongo==2.3.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
opensearch-py==2.6.0
PyJWT==2.8.0
pymongo==4.7.3
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
urllib3==2.2.1
Werkzeug==3.0.3
